#spinner {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 5px solid white;
  border-style: dotted;
  animation: spin 1.5s linear infinite both;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
